<div class="menu">
  <div>
    <div class="txt">
      <a href="/borrow">ĐĂNG KÍ MƯỢN THIẾT BỊ</a>
    </div>
    <div class="line"></div>
  </div>
  <div>
    <div class="txt">
      <a href="/list-return">DANH SÁCH TRẢ THIẾT BỊ</a>
    </div>
    <div class="line"></div>
  </div>
  <div>
    <div class="txt">
      <a href="/history-return">LỊCH SỬ</a>
    </div>
    <div class="line"></div>
  </div>
  <div>
    <div class="txt">
      <a href="/weekly-shift-schedule">LỊCH TRỰC TUẦN</a>
    </div>
    <div class="line"></div>
  </div>
</div>
