<app-header></app-header>
<div class="constructer">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="per-return">
    <h1>ĐĂNG KÝ TRẢ THIẾT BỊ</h1>
    <div class="info-borrow-per">
      <div class="name">
        <p>Họ và tên:</p>
        <input type="text">
      </div>
      <div class="class">
        <p>Lớp: </p>
        <input type="text">
      </div>
      <div class="mssv">
        <p>MSSV:</p>
        <input type="text">
      </div>
    </div>
    <div class="content-2">
      <div class="tick">THIẾT BỊ BẠN ĐÃ MƯỢN: </div>
      <div class="tinh-trang">Tình trạng thiết bị khi trả</div>
    </div>
    <div class="content-3">
      <div class="pick">
        <div>
          <input type="checkbox">
          <label for=""> Bút</label>
        </div>
        <div>
          <input type="checkbox">
          <label for=""> Giẻ lau</label>
        </div>
        <div>
          <input type="checkbox">
          <label for=""> Máy chiếu</label>
        </div>
        <div>
          <input type="checkbox">
          <label for=""> Micro</label>
        </div>
        <div>
          <input type="checkbox">
          <label for=""> Cổng kết nối</label>
        </div>
        <div>
          <input type="checkbox">
          <label for=""> Ổ cắm điện</label>
        </div>
        <div>
          <input type="checkbox">
          <label for=""> Nước cho GV</label>
        </div>
      </div>
      <div class="textbox">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
      </div>
    </div>
    <div class="cont-4">
      <p>Tổng số lượng thiết bị trả( Nhập số lượng):</p>
      <input type="text">
      <label for="checkbox">  thiết bị</label>
      <input type="text">
      <label for="check-1"> thiết bị bị thiếu</label>
      <input type="text">
      <label for="check-2"> bút xanh</label>
      <input type="text">
      <label for="check-3"> bút đỏ</label>
    </div>
    <div class="content-5">
      <div class="time">
        <p>Thời gian trả:</p>
        <input type="time" class="type-time">
      </div>
      <div>
        <label for="">Phòng mượn:</label>
        <input type="text">
      </div>
      <div>
        <label for="">Số điện thoại người mượn:</label>
        <input type="text">
      </div>
    </div>
    <div class="button">
      <button>TRẢ</button>
    </div>
  </div>
</div>


